<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>
  <body>
    <section class="hero is-dark">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head pt-5">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <div class="navbar-item title is-4">
                <i class="fa fa-th"></i>
                <%= link_to 'Blog Posts', root_path, class: "title is-4 pl-3" %>
              </div>
              <span class=" navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <%= link_to "Create New Post", new_post_path, class:"navbar-item title is-6 button is-black is-inverted is-outlined" %>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            <%= yield :page_title %>
          </h1>
        </div>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
